// Notice

.c-notice {
  display: flex;
  align-items: flex-start;
  gap: 19px;

  &.info {
    color: var(--color-alert-info);
  }

  &.success {
    color: var(--color-alert-success);
  }

  &.warning {
    color: var(--color-alert-warning);
  }

  &__title {
    font-size: 22px;
    font-weight: var(--font-semibold);
    margin: 0;
  }
}
