.select-dropdown-wrapper {
  width: 100%;
  padding: 9px var(--padding-p-4);
  position: relative;
  border: 1px solid var(--main-line);
  cursor: pointer;
  .select-dropdown-content {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    &__label {
      display: flex;
      align-items: center;
      gap: 14px;
      .label {
        // min-width: 115px;
        color: var(--main-label);
        font-size: var(--text-sm);
        font-weight: var(--font-normal);
        line-height: 17px;
      }
    }
    &__arrow {
      display: flex;
      align-items: center;
      &-normal {
        transform: rotate(0deg);
        transition: all 0.1s ease-out;
        svg {
          height: 15px;
        }
      }
      &-down {
        transform: rotate(-90deg);
        transition: all 0.1s ease-out;
        svg {
          height: 15px;
        }
      }
    }
  }
  .select-dropdown-list {
    position: absolute;
    z-index: 20;
    top: 36px;
    left: -1px;
    width: calc(100% + 2px);
    .list-options {
      margin: 0px;
      padding: 0px;
      overflow-y: auto;
      max-height: 250px;
      list-style-type: none;
      background-color: var(--main-bg);
      border: 1px solid var(--main-line);
      border-radius: var(--radius-rounded-xl);
      box-shadow: 0px 10px 20px 0px rgba(17, 17, 17, 0.08);
      .option {
        display: flex;
        justify-content: flex-start;
        padding: var(--padding-p-2) var(--padding-p-4);
        border-bottom: 1px solid var(--main-line);
        &:last-child {
          border-bottom: 0px;
        }
        &:hover {
          background-color: var(--main-line);
        }
      }
    }
  }
}
