.c-profile {
  padding: var(--padding-p-6);

  .line {
    width: 100%;
    margin: 26px 0;
    border-bottom: 1px solid var(--main-line);
  }
  .c-btn {
    display: flex;
    justify-content: flex-end;
    .btn-profile {
      display: flex;
      justify-content: center;
      min-width: 100px;
      margin-top: 26px;
    }
  }
  .upload-cv__input {
    margin-top: 6px;
  }
}
