.create-form-question {
  .top-question {
    display: flex;
    gap: 20px;
    .left-title-question {
      flex-grow: 1;
    }
    .right-title-question {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .add-image {
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .content-question {
    margin-top: 20px;
  }
  .actions {
    display: flex;
    justify-content: flex-end;

    align-items: center;
    margin-top: 30px;
    .action-item {
      padding: 0 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      &:hover {
        opacity: 0.7;
      }
      &:last-child {
        border-left: 1px solid var(--main-line);
        margin-left: 5px;
      }
    }
  }
}
