.containerProjectType {
  display: flex;
  gap: 15px;
  align-items: center;
  .projectTypeItem {
    color: var(--main-label);
    padding: 6px var(--padding-p-5);
    font-size: var(--text-sm);
    line-height: var(--leading-6);
    font-weight: var(--font-medium);
    border-radius: 27px;
    border: 1.5px solid transparent;
    cursor: pointer;
    &.active,
    &:hover {
      color: var(--button-normal);
      border: 1.5px solid var(--button-normal);
    }
  }
}
