.c-sidebar {
  padding: 0 23px 0 30px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    background: var(--main-bg);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #6e7191;
    border-radius: 8px;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &__bottom {
    margin-bottom: 23px;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    list-style: none;
    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      cursor: pointer;
      color: #333350;
      font-weight: var(--font-medium);
      font-size: var(--text-sm);
      padding: 11px 6px;
      &.active {
        margin-bottom: 16px;
        > svg {
          transform: rotate(-90deg);
        }
      }
    }

    &.child {
      display: flex;
      align-items: center;
      cursor: pointer;

      &.active {
        p {
          color: var(--button-normal);
        }
      }

      &:first-child {
        margin-top: 16px;
      }

      p {
        margin: 0;
        font-size: var(--text-xs);
        font-weight: var(--font-medium);
        line-height: 24px;
        color: var(--main-label);
      }
    }

    &.logout {
      justify-content: flex-start;
    }

    &-title {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &.child.active {
      .c-sidebar__item-content {
        background: var(--main-bg);
        color: #333350;
        width: -webkit-fill-available;
        &.active {
          border-radius: 8px;
          background: #eef;
          color: var(--button-normal);
        }
      }
    }

    &.active {
      .c-sidebar__item-content {
        border-radius: 8px;
        background: #eef;
        color: var(--button-normal);
      }
    }

    &.logout {
      padding-top: 24px;
      border-top: 1px dashed var(--main-line);
      .c-sidebar__item-content {
        justify-content: flex-start;
      }
    }
  }

  hr {
    margin: 17px;
    border: none;
  }
}

.c-sidebar.expand {
  align-items: center;

  .c-sidebar {
    &__top {
      position: fixed;
      top: auto;
      padding: 18px;
      left: 0;
      bottom: 50%;
      transform: translate(0, 50%);
      border-radius: 0 12px 12px 0;
      border: 1px solid var(--main-line);
      background: var(--main-bg);
      box-shadow: 0px 8px 16px 0px rgba(37, 37, 37, 0.1);
    }

    &__item {
      &.active {
        color: var(--button-normal);
        background: transparent;
      }
      &.logout {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__list {
      &-item {
        &.active {
          padding: 0;
          color: #ff71e8;
          background: transparent;
        }
      }
    }
  }
}
