#project-payment {
  padding: var(--padding-p-6);
  .project-payment-container {
    display: flex;
    gap: 24px;

    .left {
      width: calc(100% - 330px);
      .asset-list {
        border-radius: var(--radius-rounded-xxl);
        border: 1px solid var(--main-line);
      }
      .pagination-bottom {
        margin-bottom: 16px;
      }
    }
    .right {
      display: flex;
      gap: 12px;
      flex-direction: column;
      width: 330px;
      flex-shrink: 0;
      .line {
        border-bottom: 1px dashed var(--main-line);
      }
      .address-wallet {
        position: relative;
        z-index: 30;
        height: 148px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-between;
        border-radius: var(--radius-rounded-xl);
        padding: var(--padding-p-4) 22px 22px 22px;
        background-image: url("../../assets/images/mask-group.png");
        .icon {
          display: flex;
          justify-content: flex-end;
        }
        &__money {
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          .money {
            color: var(--main-bg);
            font-size: 32px;
            font-weight: var(--font-semibold);
            // line-height: 64px;
            letter-spacing: -0.01em;
            text-align: left;
          }
          .title {
            color: var(--main-bg);
            font-size: var(--text-sm);
          }
        }
      }
      .c-btn {
        display: flex;
        justify-content: flex-end;
        .btn-withdraw {
          background-color: var(--main-bg);
          padding: 8px 10px;
          height: 32px;
        }
      }
    }
  }
}
