#project-payment {
  padding: var(--padding-p-6);
  .project-payment-container {
    display: flex;
    gap: 24px;

    .left {
      width: calc(100% - 330px);
      .asset-list {
        margin-top: 24px;
        border-radius: var(--radius-rounded-xxl);
        border: 1px solid var(--main-Line);
      }
    }
    .right {
      width: 330px;
      flex-shrink: 0;
    }
  }
}
