.i-email-template__box {
  padding: 33px 0;
  border-radius: var(--radius-rounded-xl);
  border: 1px solid var(--main-line);
  box-shadow: 0px 6px 12px 0px #2525251a;

  &-header {
    display: flex;
    align-items: center;
    padding: 0 37px var(--padding-p-6) 37px;
    border-bottom: 1px solid var(--main-line);
    justify-content: space-between;
    .right {
      display: flex;
      gap: var(--margin-m-4);
      align-items: center;
      div {
        cursor: pointer;
      }
    }
    .left {
      display: flex;
      gap: 10px;
      align-items: center;
      span {
        color: var(--main-title);
        font-size: var(--text-base);
        font-weight: var(--font-medium);
        line-height: var(--leading-5);
        letter-spacing: -1px;
      }
      .icon {
        height: 25px;
        padding: 6px;
        border-radius: 50px;
        border: 2px solid var(--main-line);
      }
    }
  }
  &-body {
    color: var(--main-label);
    font-size: var(--text-base);
    font-weight: var(--font-normal);
    line-height: var(--leading-6);
    padding: 11px 37px;
    border-bottom: 1px solid var(--main-line);
    span {
      font-size: var(--text-base);
      font-weight: var(--font-medium);
      line-height: var(--leading-6);
    }
  }
  &-footer {
    display: flex;
    padding: 27px 37px 0;
    flex-direction: column;
    line-height: 17px;
    font-size: var(--text-sm);
    font-weight: var(--font-normal);
    .title {
      display: flex;
      gap: 5px;
    }
    span {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}
