// Modal

.c-modal {
  position: fixed;
  left: auto;
  top: auto;
  right: 50%;
  bottom: 50%;
  z-index: 999;
  -webkit-box-pack: center;
  overflow: hidden;
  transform: translate(50%, 50%);
  overscroll-behavior-y: none;
  border: 1px solid var(--main-line);
  border-radius: var(--radius-rounded-xl);
  background: var(--main-bg);
  min-width: 500px;
  padding: var(--padding-p-6);
  max-height: 91vh;
  box-sizing: border-box;
  box-shadow: 0 8px 28px 4px rgba(37, 37, 37, 0.33);

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__mask {
    background: rgba(0, 0, 0, 0.45);
    position: fixed;
    inset: 0;
    z-index: 999;
    height: 100%;
    backdrop-filter: blur(2px);
  }

  &__title {
    font-size: var(--text-lg);
    font-weight: var(--font-semibold);
    line-height: 1.78;
    letter-spacing: -0.36px;
    text-align: left;
    color: var(--main-label);
  }

  &__body {
    align-self: stretch;
    flex-grow: 0;
    font-size: var(--text-sm);
    font-weight: var(--font-medium);
    line-height: 1.71;
    letter-spacing: 0.28px;
    text-align: left;
    color: var(--main-label);
  }

  &--close {
    position: absolute;
    left: auto;
    right: 16px;
    top: 26px;

    button {
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;

    button {
      font-size: var(--text-sm);
      font-weight: var(--font-medium);
      line-height: 1.71;
      letter-spacing: 0.28px;
      text-align: left;
      padding: 0 var(--padding-p-4);
      border-radius: 6px;
      box-shadow: 0 1px 2px 0 rgba(27, 36, 44, 0.12);
    }
  }

  * + &__footer {
    margin-top: 32px;
  }

  * + &__body {
    margin-top: var(--margin-m-4);
  }

  .modal-invite {
    .box-info {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 16px;
      p {
        margin: 0;
      }
      &__content {
        display: block;
      }
      &__row {
        display: flex;
        align-items: center;
        gap: 8px;
        &--name {
          color: var(--main-title);
          font-size: var(--text-base);
          font-weight: var(--font-semibold);
          line-height: var(--leading-6);
        }
        &--type {
          color: var(--main-label);
          font-size: var(--text-base);
          font-weight: var(--font-medium);
          line-height: var(--leading-base);
          letter-spacing: -0.16px;
        }
        &--email {
          color: var(--main-label);
          font-size: var(--text-sm);
          font-weight: var(--font-normal);
          line-height: var(--leading-base);
        }
      }
    }
  }
}
