// Breadcrumbs

.c-navbar {
  &__actions {
    display: flex;
    align-items: center;
    gap: 24px;

    &-items {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      gap: 15px;
    }

    &-item {
      font-size: var(--text-base);
      font-style: normal;
      font-weight: var(--font-bold);
      line-height: 34px;
      letter-spacing: 0.75px;
      list-style: none;
      cursor: pointer;
      position: relative;
    }
  }

  &__icon {
    flex-direction: row-reverse;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
    padding: 8px 10px;
    border-radius: 8px;
    font-size: var(--text-xs);
    font-weight: var(--font-medium);
    min-width: auto;
    border-width: 1px;
    color: var(--main-bg);

    &.default {
      color: var(--main-title);
      border-color: var(--main-line);
    }

    &.danger {
      border-color: var(--color-base-dangerous);
      background: var(--color-base-dangerous);
    }

    &.success {
      border-color: var(--color-base-green);
      background: var(--color-base-green);
    }

    &.warning {
      border-color: #ffbf0f;
      background: #ffbf0f;
    }
  }
}
