// Css button

.btn {
  outline: unset;
  box-shadow: unset;
  padding: 0 20px;
  font-weight: var(--font-semibold);
  line-height: var(--leading-7);
  letter-spacing: 0.75px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  // Type
  &-primary {
    border: none;
    background: var(--color-base-blue);
    color: var(--main-bg);
  }

  &-secondary {
    border: 2px solid var(--color-base-blue);
    background: var(--main-bg);
    color: var(--color-base-blue);
  }

  &-dark {
    border: 2px solid #1e2031;
    background: #1e2031;
    color: var(--main-bg);
  }

  &-hot {
    border: 2px solid #d41060;
    background: #d41060;
    color: var(--main-bg);
  }

  &-gradient {
    background: linear-gradient(89.94deg, #ff71e8 0.03%, #3838ff 99.8%);
    border: none;
    color: var(--main-bg);
  }

  &-white {
    border: solid 1px var(--main-line);
    color: var(--main-title);
  }

  // Size

  &-small {
    height: 40px;
    border-radius: 20px;
    min-width: 120px;
  }

  &-medium {
    height: 50px;
    border-radius: 25px;
  }

  &-large {
    height: 60px;
    border-radius: 30px;
  }

  &-medium,
  &-large {
    min-width: 200px;
  }

  // Disabled

  &.disabled {
    pointer-events: unset;
    opacity: 0.6;
    cursor: not-allowed;
  }

  // Custom style

  &-signin,
  &-signup,
  &-social {
    border-radius: var(--radius-rounded-xxl);
    padding: 10px;
  }

  // Btn Social

  &-social {
    font-weight: var(--font-bold);
    width: 100%;
    letter-spacing: -0.24px;
    border-color: #111;
    color: #111;
  }

  // Btn Sign In

  &-signin {
    background: linear-gradient(90deg, #ff71e8 0.03%, #3838ff 99.8%);
    font-weight: var(--font-semibold);
  }

  // Btn Sign Up

  &-signup {
    background: #252525;
    font-weight: 400;
    font-family: "Satoshi-Regular";
  }

  &-social,
  &-signin {
    font-family: "Satoshi-Bold";
  }
}
