<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Crowdsourcing Management</title>
  <script defer src="/frontend/static/js/bundle.js"></script></head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script id="app-settings">
      window.APP_SETTINGS = Object.assign({
        title: "Crowdsourcing Management",
        debug: true,
        hostname: "http://127.0.0.1:8080/",
      });
    </script>
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        window.UIRender(document.getElementById("root"));
      });
    </script>
  </body>
</html>
