.c-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 50px;
  flex-wrap: wrap;

  &__page {
    &--prev,
    &--next,
    &--number {
      font-weight: var(--font-bold);
      color: #4e4b66;
      border: none;
      box-shadow: unset;
      outline: unset;
      background: transparent;
      cursor: pointer;
    }

    &--number {
      display: flex;
      width: 44px;
      height: 44px;
      justify-content: center;
      align-items: center;
      border-radius: var(--radius-rounded-lg);
      background: transparent;
      border: 1px solid #4e4b66;
    }

    &--active {
      color: var(--main-bg);
      background: var(--color-base-blue);
    }
  }
}
