.create-project {
  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: var(--padding-p-4);
    border-top: 1px solid var(--main-line);
    border-left: 1px solid var(--main-line);
    background: var(--main-selected);
    margin: 32px 0 0 32px;
    &--back {
      display: flex;
      flex-direction: row;
      gap: 12px;
      align-items: center;
      cursor: pointer;
      span {
        color: var(--color-neutral-500);
        font-size: var(--text-sm);
        font-weight: var(--font-medium);
        line-height: var(--leading-6);
      }
    }
    &--next {
      display: flex;
      flex-direction: row;
      gap: 12px;
      align-items: center;
      .btn-next {
        min-width: auto;
        padding: 8px 12px;
        cursor: pointer;
      }
    }
  }
}
