.containerProjectDetail {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 39px;
  &--box {
    width: 100%;
    max-width: 990px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    border-bottom: 1.6px solid var(--main-selected);
    margin-bottom: 32px;
    &__project-name {
      color: var(--main-title);
      font-size: 28px;
      line-height: 34px;
      font-weight: var(--font-medium);
    }
    &__price {
      display: flex;
      gap: 12px;
      align-items: center;
    }
    &__price-information {
      display: flex;
      gap: 6px;
      align-items: center;
      font-size: var(--text-base);
      font-weight: var(--font-semibold);
      line-height: var(--leading-6);
      padding: var(--padding-p-2);
    }
    &__btn {
      border: 1px solid;
      box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
      color: var(--Button-normal, #5050ff);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
  }
}
