.containerProjectDetail {
  display: flex;
  justify-content: center;
  padding: var(--padding-p-6);
  &--box {
    width: 100%;
  }
  &--box {
    position: relative;
    .header-project-detail {
      display: flex;
      justify-content: space-between;
      padding-bottom: 32px;
      border-bottom: 1.6px solid var(--main-selected);
      margin-bottom: 32px;
      .header__project-name {
        color: var(--main-title);
        font-size: 28px;
        line-height: 34px;
        font-weight: var(--font-medium);
      }
      .header__price {
        display: flex;
        gap: 12px;
        align-items: center;
        .header__price-information {
          display: flex;
          gap: 6px;
          align-items: center;
          font-size: var(--text-base);
          font-weight: var(--font-semibold);
          line-height: var(--leading-6);
          padding: var(--padding-p-2);
        }
      }
      .header__btn--apply,
      .header__btn--cancel {
        border: 1px solid;
        box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
        font-size: var(--text-sm);
        font-style: normal;
        font-weight: var(--font-semibold);
        line-height: var(--leading-6);
      }
      .header__btn--apply {
        color: var(--Button-normal, #5050ff);
      }
      .header__btn--cancel {
        color: var(--color-base-dangerous);
        background-color: transparent;
        border: 1px solid var(--color-base-dangerous);
      }
      .alert {
        top: 10px;
      }
    }
  }
}
