.c-confirm-switch {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: var(--padding-p-6);
  border-radius: var(--radius-rounded-xl);
  border: 1px solid var(--main-line);
  &-title {
    color: var(--color-base-black);
    font-size: var(--text-base);
    font-weight: var(--font-semibold);
    line-height: var(--leading-5);
  }
  &-content {
    color: var(--color-base-black);
    font-size: var(--text-sm);
    font-weight: var(--font-normal);
    line-height: 22px;
  }
}
