.c-alert {
  background-color: var(--main-bg);
  border: solid 2px var(--main-line);
  border-radius: var(--radius-rounded-xxl);
  box-shadow: 0 16px 20px -8px var(--color-theme_light-high_em);
  padding: 24px 24px 24px 56px;
  position: relative;
  text-align: left;

  &--dismissable {
    padding-right: 56px;
  }

  &--info {
    border-color: var(--color-alert-info);
  }

  &--info &__icon {
    color: var(--color-alert-info-icon);
  }

  &--danger {
    border-color: var(--color-alert-danger);
  }

  &--danger &__icon {
    color: var(--color-alert-danger-icon);
  }

  &--success {
    border-color: var(--color-alert-success);
  }

  &--success &__icon {
    color: var(--color-alert-success-icon);
  }

  &--warning {
    border-color: var(--color-alert-warning);
  }

  &--warning &__icon {
    color: var(--color-alert-warning-icon);
  }

  &__icon {
    left: 20px;
    position: absolute;
    top: 24px;
  }

  &__dismiss {
    cursor: pointer;
    right: 20px;
    position: absolute;
    top: 24px;
  }

  &__title {
    font-weight: var(--font-light);
    margin-bottom: 8px;
  }

  &__message {
    font-size: var(--text-sm);
    font-weight: var(--font-medium);
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: var(--margin-m-4);

    &-item {
      align-items: center;
      cursor: pointer;
      display: inline-flex;
      font-size: var(--text-sm);
      font-weight: var(--font-semibold);
      gap: 8px;
    }
  }

  &--info &__actions-item--context {
    color: var(--color-alert-info-icon);
  }

  &--danger &__actions-item--context {
    color: var(--color-alert-danger-icon);
  }

  &--success &__actions-item--context {
    color: var(--color-alert-success-icon);
  }

  &--warning &__actions-item--context {
    color: var(--color-alert-warning-icon);
  }
}
